/* @import url(‘https://fonts.googleapis.com/css?family=Poppins’); */

/* styles for navbar */
nav {
    height: 10vh;
    /* background: #A09F9E; */
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
}

.hamburger .line{
    background-color: black;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 80%;
    justify-content: space-around;
    align-items: center;
}

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.landing h1 {
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}

.navigation {
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.logo {
    /* right: auto; */
    justify-content: end;
    padding-right: 10px;
    align-items: center;
}

@media screen and (max-width: 768px){

    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }

    nav {
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        left: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 1;
    }

    .nav-links {
        position: fixed;
        background: transparent;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at -90% -10%);
        -webkit-clip-path: circle(100px at -90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
        z-index: 3;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    
    .nav-links li {
        opacity: 3;
        /* z-index: 3; */
    }
    .nav-links li a {
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.1s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.3s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.5s;
    }
    li.fade {
        opacity: 1;
    }
}

/* end styles for navbar */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    min-height: 100vh;
    background: #a2a6ab;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 20px;
}
section .container
{
    position: relative;
    width: 800px;
    height: 487px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.1);
    overflow: hidden;
}
section .container .user
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
section .container .user .imgBx
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #ff0;
    transition: 0.5s;
}
section .container .user .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section .container .user .formBx
{
    position: relative;
    width: 50%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}
section .container .user .formBx form h2
{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    color: #555;
}
section .container .user .formBx form input
{
    position: relative;
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    color: #333;
    border: none;
    outline: none;
    box-shadow: none;
    margin: 8px 0;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
}
section .container .user .formBx form input[type="submit"]
{
    max-width: 100px;
    background: #677eff;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.5s;
}
section .container .user .formBx form .signup
{
    position: relative;
    margin-top: 20px;
    font-size: 12px;
    letter-spacing: 1px;
    color: #555;
    text-transform: uppercase;
    font-weight: 300;
}
section .container .user .formBx form .signup a
{
    font-weight: 600;
    text-decoration: none;
    color: #767eff;
}
section .container .signupBx
{
    pointer-events: none;
}
section .container.active .signupBx
{
    pointer-events: initial;
}
section .container .signupBx .formBx
{
    left: 100%;
}
section .container.active .signupBx .formBx
{
    left: 0;
}
section .container .signupBx .imgBx
{
    left: -100%;
}
section .container.active .signupBx .imgBx
{
    left: 0;
}



section .container .signinBx .formBx
{
    left: 0;
}
section .container.active .signinBx .formBx
{
    left: 100%;
}
section .container .signinBx .imgBx
{
    left: 0;
}
section .container.active .signinBx .imgBx
{
    left: -100%;
}

@media (max-width: 991px)
{
    section .container
    {
        max-width: 400px;
    }
    section .container .imgBx
    {
        display: none;
    }
    section .container .user .formBx
    {
        width: 100%;
    }
}